body{
    background:rgba(255, 228, 196, .4);

}

h1{
    text-align:center;
     border:1px solid yellow;
      color:#ffffff;
}

.span_left{
    margin-left: 25px;

}
div{
    font-weight: bold; 
    margin-left: 30px;
}

.bigletter{
    font-size: x-large; 
    color: #ffffff;
}
h2{
    background: blue; 
    color: orange; 
    line-height: 50px; 
    font-size: 40px;

}

em{
    font-weight: 900;
}

#funky_green{
    font-family: 'comic sans ms', fantasy; 
    color: green;


}
.li_italic{
    font-size: x-large; 
    font-style: italic;

}


.img_sizing{

    width:300px; height:250px;

}


.img_frame{
    border: 2px solid #fff;

}